.bookWidget {
    width: 3.6vw;
    height: 19.4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #00AD5C;
    margin: 0 1vw 0 0;
    float: left;
}

.bookWidget header {
    width: 100%;
}

.bookWidget header img {
    width: 100%;
    margin: -0.3vw 0 0;
}

.bookWidget footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    transform: rotate(-90deg);
    position: relative;
    top: -7.3vw;
}

.bookWidget p {

    color: white;
    width: 16vw;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-family: open sans, sans-serif;
    font-size: 1vw;
    line-height: 20px;
    font-weight: 700;

}

.requestWidget {
    border-radius: 5px 0 0 5px;
    position: relative;
    right: 0;
}

.requestWidget header {
    display: flex;
    flex-direction: column;
}

.requestWidget header img {
    margin: 0;
    width: 100%;
    height: 4vw;
}

.adviceWidget {
    background-color: #007942;
    border-radius: 10px;
    height: 15.5vw;
    top: 20%;
}

.adviceWidget header img {
    width: 3.8vw;
    margin: -0vw -1px 0;

}

.adviceWidget footer {
    top: -5.5vw;
}

@media all and (max-width:768px) {

    .bookWidget {
        width: 5.6vw;
        height: 29.4vw;
    }

    .bookWidget footer {
        top: -10.6vw;
    }

    .adviceWidget footer {
        top: -8vw;
    }

    .bookWidget p {
        width: 20vw;
        font-size: 1.5vw;
    }

    .requestWidget header img {

        height: 5.5vw;
    }

    .adviceWidget {
        height: 24.5vw;
        border-radius: 20px;
    }

    .adviceWidget header img {
        width: 5.8vw;
    }
}

@media all and (max-width:425px) {
    .bookWidget {
        width: 8vw;
        height: 41.4vw;
    }

    .requestWidget header img {
        height: 8.5vw;
    }

    .bookWidget p {
        width: 28vw;
        font-size: 2vw;
    }
    .bookWidget footer {
    top: -13.8vw;
}

.bookWidget header img {
    width: 100%;
    margin: -0.5vw 0 0;
}
    .adviceWidget footer {
        top: -11.4vw;
    }

    .adviceWidget header img {
        width: 8.6vw;
        margin: -0vw -1px 0;
    }
    .adviceWidget
    {
        height: 36.4vw;
    }


}

@media all and (max-width:320px) {
    .adviceWidget header img {
        width: 8.5vw;
    }
}
